ul[rn-carousel] {
	overflow-y: auto;
	position: relative;
	margin: 0;
}

ul[rn-carousel] li {
}

.allday-event {
	width: 25px;
	position: absolute;
	display: inline-block;
	margin-left: 10px;
	left: 0;
}

.allday-event-2 {
	margin-left: 45px;
}

.allday-event span {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);	transform-origin: left top 0;
	-webkit-transform-origin: left top 0;
	-moz-transform-origin: left top 0;
	-ms-transform-origin: left top 0;
	-o-transform-origin: left top 0;
	display: inline-block;
	margin-left: 24px;
	height: 175px;
	width: 175px;
}

.calendar-allday {
	display: inline-block;
}

.calendar-area {
	position: relative;
	height: 2880px;		/*2880 pixels for the day (1440 minutes/day time the pixel/minute ratio)*/
	background-color: white;
}

.calendar-hourly {
	display: inline-block;
}

.date-heading {
	text-align: center;
}

.event {
	position: absolute;
}

.event-location {
	margin-left: 5px;
}

.event-name {
	font-weight: 900;
}

.event span {
	min-width: 170px;
}

.half-hour-marker .marker {
	opacity: .1;
}

.hour-marker .marker {
	opacity: .2;
}

.hourly-event-time {
	margin-bottom: 5px;
}

.marker {
	border: none;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: black;
	position: relative;
	text-align: left;
	height: 60px;
	vertical-align: bottom;
	display: table-cell;
	width: 100vw;
	top: -21px;
}

.rn-carousel-control {
	top: 25px;
}

.time-bar {
	position: relative;
	border-bottom-width: 1px;
	border-bottom-color: #C54E90;
	border-bottom-style: solid;
	width: 100vw;
	text-align: right;
	z-index: 500;
}

.faded-time-bar {
	opacity : .3;
}