.event-heading {
	margin-right: 20px;
}

.event-description {
	display: block;
	padding: 5px;
	margin-bottom: 10px;
}

.fa.fa-external-link {
	color: black;
}

.twitter_box {
	margin: auto;
	max-width: 75vw;
	height: 350px;
	overflow: hidden;
	overflow-y: auto;
	border: 1px solid #E8E9EB;
}