html, body {
  overflow: hidden;
  font-family: 'Helvetica', sans-serif;
}

section {
  display: inline;
}

table {
  width: 100vw;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: 5px;
}

th {
  padding-left: 15px;
  padding-right: 15px;
  background: #333232;
  color: white;
}

/*tr:nth-child(odd) {
  background-color: #d4ffaa;
}

tr:nth-child(odd):hover, tr:nth-child(odd):active {
  background-color: #c0ff96;
}

tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(even):hover, tr:nth-child(even):active {
  background-color: #f0fff0;
}*/

ul[rn-carousel]>li {
  width: 100vw;
  height: 100vh;
}

.btn-sidebar {
  width:100%;
  text-align: left;
  background-color: #E8E9EB;
  border-radius: 0;
  color: black;
  border-bottom: 1px solid #333232;
  height: 44px;
  padding: 11px;
}

.carousel {
  height: 100vh;
  width: 220vw;
  padding: 0px;
}

.carousel-item {
  position: absolute;
  width: 100vw;
  height: 100vh;
}

.checkbox-label {
  margin-top: 10px;
  margin-left: 15px;
}

.field-checkbox {
  margin-left: 5px !important;
}

.frank-table {
  margin:0px;padding:0px;
  width:100%;
  border:1px solid #000;
  
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
  
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
  
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
  
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;

  margin-bottom: 100px;
}

.frank-table table{
  /*border-collapse: collapse;*/
  border-spacing: 0;
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
}

.frank-table td, .frank-table th {
  padding: 8px;
  border-right: 1px solid #E8E9EB;
}

.frank-table .dark-row {
  background-color: rgb(115, 201, 45);
}

.frank-table .light-row {
  background-color: white;
}

/*.frank-table tr:last-child td:last-child {
  -moz-border-radius-bottomright:0px;
  -webkit-border-bottom-right-radius:0px;
  border-bottom-right-radius:0px;
}

.frank-table table tr:first-child td:first-child {
  -moz-border-radius-topleft:0px;
  -webkit-border-top-left-radius:0px;
  border-top-left-radius:0px;
}

.frank-table table tr:first-child td:last-child {
  -moz-border-radius-topright:0px;
  -webkit-border-top-right-radius:0px;
  border-top-right-radius:0px;
}

.frank-table tr:last-child td:first-child{
  -moz-border-radius-bottomleft:0px;
  -webkit-border-bottom-left-radius:0px;
  border-bottom-left-radius:0px;
}

.frank-table td {
  vertical-align:middle;
  
  border:1px solid #3f7f00;
  border-width:0px 1px 1px 0px;
  text-align:left;
  padding:7px;
  font-size:10px;
  font-family:Helvetica;
  font-weight:normal;
  color:#000000;
}

.frank-table tr:last-child td{
  border-width:0px 1px 0px 0px;
}

.frank-table tr td:last-child{
  border-width:0px 0px 1px 0px;
}

.frank-table tr:last-child td:last-child{
  border-width:0px 0px 0px 0px;
}

.frank-table tr:first-child td:first-child{
  border-width:0px 0px 1px 0px;
}

.frank-table tr:first-child td:last-child{
  border-width:0px 0px 1px 1px;
}

.frank-table tr:first-child td{
  border:0px solid #3f7f00;
  text-align:center;
  border-width:0px 0px 1px 1px;
  font-size:12px;
  font-family:Helvetica;
  font-weight:bold;
  color:#ffffff;
}*/

.interests div {
  display: inline-block;
}

.participantcarousel-content {
  margin-top: 0;
}

.participantpic {
  background-color: #333232;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ptable-body {
  padding: 15px;
  background-color: whitesmoke;
  height: 100vh;
  overflow-y: auto;
}

.ptable-loading {
  display: block;
}

.rn-carousel-control {
  opacity: 1 !important;
  color: #C54E90;
}

.rn-carousel-control.rn-carousel-control-next {
  right: 121vw;
}

.search-box {
  float: right;
  margin-right: 15px;
  width: 170px;
}

.search-box.ng-hide-remove {
  -webkit-animation: fadeandgrow 1s;
  -moz-animation: fadeandgrow 1s;
  -o-animation: fadeandgrow 1s;
  animation: fadeandgrow 1s;
}

.search-box.ng-hide-add {
  -webkit-animation: fadeandgrow 500ms;
  -webkit-animation-direction: reverse;
  -moz-animation: fadeandgrow 500ms;
  -moz-animation-direction: reverse;
  -o-animation: fadeandgrow 500ms;
  -o-animation-direction: reverse;
  animation: fadeandgrow 500ms;
  animation-direction: reverse;
}

@-webkit-keyframes fadeandgrow {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 170px;
    opacity: 1;
  }
}
@-moz-keyframes fadeandgrow {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 170px;
    opacity: 1;
  }
}
@-o-keyframes fadeandgrow {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 170px;
    opacity: 1;
  }
}
@keyframes fadeandgrow {
  0% {
    width: 0px;
    opacity: 0;
  }
  100% {
    width: 170px;
    opacity: 1;
  }
}

.search-icon {
  float: right;
  margin-right: 15px;
  font-size: 20px;
  opacity: .5;
}

.search-icon.ng-hide-add {
  -webkit-animation: fade 100ms;
  -moz-animation: fade 100ms;
  -o-animation: fade 100ms;
  animation: fade 100ms;
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

.search-icon.ng-hide-remove {
  -webkit-animation: fade 700ms;
  -moz-animation: fade 700ms;
  -o-animation: fade 700ms;
  animation: fade 700ms;
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  91% {opacity: 0;}
  100% {opacity: 1; display: initial;}
}
@-moz-keyframes fade {
  0% {opacity: 0;}
  91% {opacity: 0;}
  100% {opacity: 1; display: initial;}
}
@-o-keyframes fade {
  0% {opacity: 0;}
  91% {opacity: 0;}
  100% {opacity: 1; display: initial;}
}
@keyframes fade {
  0% {opacity: 0;}
  91% {opacity: 0;}
  100% {opacity: 1; display: initial;}
}

.text-error {
  color : red;
}

.view-switch {
  float: left;
  margin-left: 15px;
  cursor: pointer;
  color: #2a6496;
  position: relative;
  top: 0;
}

/* Styles for portrait orientation */
.interests-portrait {
  transform: matrix(1, 0, -0.6, 1, 0, 0);
  -webkit-transform: matrix(1, 0, -0.6, 1, 0, 0);
  -moz-transform: matrix(1, 0, -0.6, 1, 0, 0);
  -o-transform: matrix(1, 0, -0.6, 1, 0, 0);
  width: 60vw;
}

.interests-portrait img {
  width: 9vw;
  position: relative;
  right: 20px;
}

.participantcarousel-content-portrait {
  width: 100vw;
  height: 84vh;
  text-align: center;
}

.participantemail-portrait {
  font-size: 4vmin;
  display: inline;
  position: relative;
  right: -10px;
}

.participantinterests-portrait {
  width: 8vmin;
  padding: .5vmin;
}

.participantname-portrait {
  font-size: 7vmin;
  display: block;
  margin: 0;
}

.participantpic-portrait {
  width: 100%;
  height: 100%;
}

.participanttwitter-portrait {
  display: inline;
  font-size: 4vmin;
  position: relative;
  right: -5px;
}

.sidecontent-portrait {
  position: absolute;
  width: 75vw;
  top: 50vh;
  right: 0;
  background-color: rgb(115, 201, 45);
  background-color: rgba(115, 201, 45, .85);
  text-align: right;
  transform: matrix(1, 0, 0.6, 1, 0, 0);
  -webkit-transform: matrix(1, 0, 0.6, 1, 0, 0);
  -moz-transform: matrix(1, 0, 0.6, 1, 0, 0);
  -o-transform: matrix(1, 0, 0.6, 1, 0, 0);
  transform-origin: top right;
  -webkit-transform-origin: top right;
  -moz-transform-origin: top right;
  -o-transform-origin: top right;
}

.sidecontent-text-portrait {
  transform: matrix(1, 0, -0.6, 1, 0, 0);
  -webkit-transform: matrix(1, 0, -0.6, 1, 0, 0);
  -moz-transform: matrix(1, 0, -0.6, 1, 0, 0);
  -o-transform: matrix(1, 0, -0.6, 1, 0, 0);
  width: 69vw;
  position: relative;
  right: 10px;
}


/* Styles for landscape orientation */
.interests-landscape {
}

.interests-landscape img {
  width: 9vw;
}

.participantcarousel-content-landscape {
  margin: 0px auto;
  height: 80vh;
  overflow-y: auto;
}

.participantemail-landscape {
  font-size: 4vmin;
}

.participantinterests-landscape {
  width: 8vw;
  /*padding: 3px;*/
  margin-right:5px;
  max-width: 50px;
}

.participantname-landscape {
  font-size: 7vmin;
  margin-top: 0;
}

.participantpic-landscape {
  width: 30vw;
  height: 100%;
  min-height: 250px;
  display: inline-block;
  vertical-align: top;
}

.participanttwitter-landscape {
  font-size: 23px;
}

.sidecontent-landscape {
  display: inline-block;
  height: 100%;
  min-height: 250px;
  width: 68.9vw;
  padding: 20px;
  background-color: rgba(115, 201, 45, .85);
  text-align: center;
}

/*Angular-snap.css Modifications*/
.snap-content {
  overflow:hidden;
}