a {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:focus {
	text-decoration: none;
}
html, body {
	background-color: #E8E9EB;
	overflow: auto;
	overflow-x: hidden;
	font-family: 'Helvetica', sans-serif;
}
.button-icon {
	line-height: 75px;
}
.btn-sidebar {
  width:100%;
  text-align: left;
  background-color: #E8E9EB;
  border-radius: 0;
  color: black;
  border-bottom: 1px solid #333232;
  height: 44px;
  padding: 11px;
  margin-top: 2px;
}
.sidebar-item-2 {
	text-indent: 15px;
}
.disabled {
	opacity: .85;
	pointer-events: none;
}
.frank-btn-large {
	display: block;
	width: 90vw;
	text-align: center;
	height: 75px;
	line-height: 75px;
	margin: auto;
	margin-top: 7px;
	border-radius: 7px;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 20px;
}
.frank-btn-large.frank-btn-xl {
	height: 125px;
	padding: 15px;
}
.frank-btn-xl span {
	display: block;
	line-height: 30px;
	text-align: left;
}
.frank-btn-xl .icon-right-center {
	position: absolute;
	right: 5px;
	height: 125px;
	top: 0;
	line-height: 125px;
}
.icon-left {
	float: left;
}
.icon-right {
	float: right;
}
#snap-content {
	background-color: #E8E9EB;
}

/*Styling for accordion menus*/
	.accordion-icon {
		line-height: 53px;
		right: 10px;
		position: absolute;
		top: 0;
	}

	.panel-default>.panel-heading {
		background-color: #333232;
		color: #E8E9EB;
		position: relative;
		height: 53px;
		padding: 0;
		padding-left: 15px;
	}

	.panel-title {
		line-height: 53px;
	}

/*Styling for header*/
	frank-header {
		position: fixed !important;
		top: 0;
		left: 0;
		-webkit-backface-visibility: hidden !important;
		z-index: 9999;
	}
	nav {
		position: fixed !important;
		top: 0;
		-webkit-backface-visibility: hidden !important;
		z-index: 9999;
	}
	.menubutton {
		color: #E8E9EB;
		background-color: #333232;
		border: none;
		z-index: 10000;
	}
	.menubutton:active {
		color: #E8E9EB;
		background-color: #333232;
		border: none;
		z-index: 2;
	}
	.menubutton:focus {
		color: #E8E9EB;
		background-color: #333232;
		border: none;
		z-index: 2;
	}
	.menubutton:hover {
		color: #E8E9EB;
		background-color: #333232;
		border: none;
		z-index: 2;
	}
	.small-logo {
		height: 30px !important;
		margin-top: 10px !important;
	}
	.small-navbar-header {
		height: 50px !important;
		font-size: 28px !important;
		line-height: 50px !important;
	}
	.header-landscape {
		width: 100vw;
		height: 10vh;
		position: relative;
	}
	.logo-landscape {
		height: 6vh;
		margin: 2vh 10px 2vh 0px;
		/*position: absolute;*/
		float: right;
	}
	.menu-landscape {
		float: left;
		margin: 2.5vh;
		margin-left: 10px;
	}
	.menubutton-landscape {
		height: 5vh;
		width: 5vh;
		position: relative;
		min-height: 44px;
		min-width: 44px;
		padding: 0;
	}
	.navbar-header-landscape {
		color: #E8E9EB;
		margin: auto;
		width: 100vw;
		height:10vh;
		left: 0;
		top: 0;
		line-height: 10vh;
		vertical-align: middle;
		letter-spacing: 1px;
		font-size: 5vmin;
		text-align: center;
		position: absolute;
	}
	.header-portrait {
		width: 100vw;
		height: 10vh;
		position: relative;
	}
	.logo-portrait {
		height: 6vh;
		margin: 2vh 10px 2vh 0px;
		/*position: absolute;*/
		float: right;
	}
	.menu-portrait {
		float: left;
		margin: 2.5vh;
		margin-left: 10px;
	}
	.menubutton-portrait {
		height: 5vh;
		width: 5vh;
		position: relative;
		min-height: 44px;
		min-width: 44px;
		padding: 0;
	}
	.navbar-header-portrait {
		color: #E8E9EB;
		margin: auto;
		width: 100vw;
		height:10vh;
		left: 0;
		top: 0;
		line-height: 10vh;
		vertical-align: middle;
		letter-spacing: 1px;
		font-size: 5vmin;
		text-align: center;
		position: absolute;
	}

/*Boostrap modifications*/
	.navbar {
		border-radius: 0px;
		margin-bottom: 0;
	}
	.navbar-default {
		background-color: #333232;
		border-color: #797979;
	}
	.navbar-default .navbar-brand {
		color: #E8E9EB;
	}
	.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
		color: #00f900;
	}
	.navbar-default .navbar-text {
		color: #E8E9EB;
	}
	.navbar-default .navbar-nav > li > a {
		color: #E8E9EB;
	}
	.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
		color: #00f900;
	}
	.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
		color: #00f900;
		background-color: #797979;
	}
	.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
		color: #00f900;
		background-color: #797979;
	}
	.navbar-default .navbar-toggle {
		border-color: #797979;
	}
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: #797979;
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #E8E9EB;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
		border-color: #E8E9EB;
	}
	.navbar-default .navbar-link {
		color: #E8E9EB;
	}
	.navbar-default .navbar-link:hover {
		color: #00f900;
	}

	@media (max-width: 767px) {
		.navbar-default .navbar-nav .open .dropdown-menu > li > a {
			color: #E8E9EB;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
			color: #00f900;
		}
		.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
			color: #00f900;
			background-color: #797979;
		}
	}