<!DOCTYPE html>
<html>
	<head>
	</head>
	<body>
		<button type="button" onclick="getLocation()">Get Location</button>

		<script>
			function getLocation() {
			    if (navigator.geolocation) {
			        navigator.geolocation.getCurrentPosition(showPosition);
			    } else {
			        alert("Geolocation is not supported.");
			    }
			}

			function showPosition(position) {
			    alert("Latitude: " + position.coords.latitude + 
			    "<br>Longitude: " + position.coords.longitude); 
			}
		</script>
	</body>
</html>