<!DOCTYPE html>
<html ng-app="frankAppVoter">

	<head>
		<base href="/tests_c1m/public/view/" />
		<meta name="viewport" content="initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,width=device-width,user-scalable=no">

		<script data-require="jquery@*" data-semver="2.1.1" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script data-require="bootstrap@*" data-semver="3.2.0" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<script data-require="angular.js@*" data-semver="1.3.0" src="//code.angularjs.org/1.3.0/angular.js"></script>
		<script src="../libraries/angular-local-storage/dist/angular-local-storage.js"></script>
		<script data-require="angular-ui@*" data-semver="0.4.0" src="http://rawgithub.com/angular-ui/angular-ui/master/build/angular-ui.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.0/angular-animate.min.js"></script>
		<script data-require="angular-touch@*" data-semver="1.2.13" src="http://code.angularjs.org/1.2.13/angular-touch.js"></script>
		<script src="../js/snap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/angular-snap.js" type="text/javascript" charset="utf-8"></script>
		<script src="../libraries/ng-FitText/src/ng-FitText.js" type="text/javascript"></script>
		<script type="text/javascript" src="../libraries/angular-ui/ui-bootstrap-tpls-0.12.0.min.js"></script>
		<script src="../js/script.js"></script>
		<script type="text/javascript" src="../js/vote.js"></script>


		<link data-require="bootstrap@*" data-semver="3.2.0" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
		<link data-require="font-awesome@*" data-semver="4.2.0" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.2.0/css/font-awesome.css" />
		<link rel="stylesheet" href="../css/angular-snap.css" type="text/css" />
		<link rel="stylesheet" href="../css/style.css" />
		<link rel="stylesheet" href="../css/vote.css" />
	</head>

	<body ng-controller="voteCtrl" resizable>
		<snap-drawer id='left-snap-drawer'>
			<frank-sidebar-menu></frank-sidebar-menu>
			<!-- <a href="participant_list.html" class="btn btn-sidebar" role="button"><i class="fa fa-list"></i> View Participant List</a> <br />
			<a href="#" class="btn btn-sidebar" role="button"><i class="fa fa-arrow-left"></i> Back to App</a> -->
		</snap-drawer>
		<snap-content id="snap-content">
			<frank-header>frank Voting</frank-header>
			<div ng-style="{'margin-top' : getTopMargin(15)}">
				<accordion close-others="{{true}}">
					<accordion-group ng-repeat="vote in votes track by vote.id" is-disabled="!voteOpen[$index]" heading="{{vote.name}}">
						<div class="vote">
							<form class="ballot" name="ballot" id="ballot" ng-class="{disabled : !ballotOpen[$index] || vote.user_choice}" ng-disabled="!ballotOpen[$index] || vote.user_choice" ng-submit="submitVote($index, vote.id)">
								<span class="question">{{vote.question}}</span>
								<br />
								<div ng-repeat="answer in vote.answers" class="vote-answer">
									<label class="answer">
										<input type="radio" ng-model="userVote[$parent.$index]" name="{{'ballot' + $parent.$index}}" value="{{answer.option}}" required /> {{answer.option}}. {{answer.value}}
									</label>
									<br />
								</div>
								<input type="submit" value="Vote" ng-disabled="vote.user_choice" ng-class="{disabled : vote.user_choice}" ng-if="ballotOpen[$index] && !vote.user_choice" />
							</form>
							<div class="results" ng-if="voteOpen[$index]">
							</div>
						</div>
					</accordion-group>
				</accordion>
			</div>
		</snap-content>
	</body>

</html>
